troposphere>=1.9.0
botocore>=1.6.0
boto3>=1.3.1
PyYAML~=3.12
awacs>=0.6.0
gitpython~=2.0
schematics~=2.0.1
future
backports.ssl-match-hostname
mock~=2.0.0
moto~=1.1.24
testfixtures~=4.10.0
coverage~=4.3.4
nose
formic~=0.9b
flake8
