AWSTemplateFormatVersion: 2010-09-09
Resources:
  Bucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: {{ variables.BucketName }}
      AccessControl: Private
Outputs:
  BucketName:
    Value: !Ref Bucket
